<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iwyu.dao.RestaurantMapper">
  <resultMap id="BaseResultMap" type="cn.iwyu.domain.Restaurant">
    <id column="id_restaurant" jdbcType="INTEGER" property="idRestaurant" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="type_of_cuisine" jdbcType="VARCHAR" property="typeOfCuisine" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="id_recommanded_user" jdbcType="INTEGER" property="idRecommandedUser" />
    <result column="recommand_reason" jdbcType="VARCHAR" property="recommandReason" />
    <result column="is_audit_passed" jdbcType="TINYINT" property="isAuditPassed" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="resturant_image" jdbcType="VARCHAR" property="resturantImage" />
    <result column="recommend_time" jdbcType="DATE" property="recommendTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from restaurant
    where id_restaurant = #{idRestaurant,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.iwyu.domain.Restaurant">
    insert into restaurant (id_restaurant, name, intro, 
      type_of_cuisine, address, id_recommanded_user, 
      recommand_reason, is_audit_passed, comment, 
      resturant_image, recommend_time)
    values (#{idRestaurant,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{typeOfCuisine,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{idRecommandedUser,jdbcType=INTEGER}, 
      #{recommandReason,jdbcType=VARCHAR}, #{isAuditPassed,jdbcType=TINYINT}, #{comment,jdbcType=VARCHAR}, 
      #{resturantImage,jdbcType=VARCHAR}, #{recommendTime,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.iwyu.domain.Restaurant">
    update restaurant
    set name = #{name,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      type_of_cuisine = #{typeOfCuisine,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      id_recommanded_user = #{idRecommandedUser,jdbcType=INTEGER},
      recommand_reason = #{recommandReason,jdbcType=VARCHAR},
      is_audit_passed = #{isAuditPassed,jdbcType=TINYINT},
      comment = #{comment,jdbcType=VARCHAR},
      resturant_image = #{resturantImage,jdbcType=VARCHAR},
      recommend_time = #{recommendTime,jdbcType=DATE}
    where id_restaurant = #{idRestaurant,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id_restaurant, name, intro, type_of_cuisine, address, id_recommanded_user, 
    recommand_reason, is_audit_passed, comment, resturant_image, recommend_time
    from restaurant
    where id_restaurant = #{idRestaurant,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_restaurant, name, intro, type_of_cuisine, address, id_recommanded_user, 
    recommand_reason, is_audit_passed, comment, resturant_image, recommend_time
    from restaurant
  </select>
</mapper>